/* Sidebar.css */

.nav-link {
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, margin-left 0.3s ease;
    position: relative; /* To position the white line */
  }
  
  .nav-link span {
    margin-left: 0.5rem; /* Adjust the margin as needed */
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.05); /* Thinner transparent hover color */
  }
  
  .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the color as needed */
    margin-left: 5px; /* Adds space when active */
  }
  
  .nav-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: white;
  }
  
  .nav-link:hover {
    margin-left: 10px; /* Adds space on hover */
  }
  
  /* Media query to hide text on smaller screens */
  @media (max-width: 950px) {
    .nav-link span {
      display: none;
    }
  
    .nav-link {
      justify-content: center;
    }
  }
  