.chart-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    max-width: 400px; /* Adjust max-width as needed */
    margin: auto; /* Center the chart */
  }
  