/* Sidebar adjustments */
.sidebar-col {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 17%;
    z-index: 1000;
    background-color: #343a40; /* Adjust as necessary */
  }
  
  /* Adjustments for the main content to make space for the sidebar */
  .main-col {
    margin-left: 17%;
  }
  
  /* Ensure the dashboard title stands out */
  .dashboard-title {
    color: rgba(246, 130, 24, 0.8);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .sidebar-col {
      width: 60px; /* Narrower sidebar on small screens */
    }
    .main-col {
      margin-left: 60px; /* Adjust main content margin for smaller sidebar */
    }
  
    /* Hide labels on small screens */
    .nav-link span {
      display: none;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    /* Adjust content layout for smaller screens */
    .col-lg-6,
    .col-lg-2,
    .col-12 {
      margin-bottom: 1rem;
    }
  }
  
  /* Ensure spacing between elements */
  .row > .col {
    padding-bottom: 1rem;
  }
  